<title>Patrick Simspon <%=title%></title>
<meta
    name="description"
    content="The blog of Patrick Simpson; Software, Development, JavaScript."
/>
<meta
    name="keywords"
    content="Javascript, Development, Web Development, Internet"
/>
<meta
    name="twitter:title"
    content="The blog of Patrick Simpson; Software, Development, JavaScript."
/>
<meta
    name="twitter:description"
    content="Javascript, Development, Web Development, Internet"
/>
<meta name="theme-color" content="#ffffff" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@patrexsimpson" />
