<div>
    <h1>Hi, I am Patrick!</h1>
    <img class="avatar" src="https://pbs.twimg.com/profile_images/1116076597914808320/yzLFIZyc_400x400.png" alt="me" title="Patrick Simpson" />
    <h2 class="sub-line">Perhaps the coolest guy you'll ever encounter.</h2>
    <p>
        I'm a software engineer from Ohio. I'll be
        posting about software things, primarily JavaScript, Emacs, and my life
        with four kids.
    </p>
    <p>
        If you wish, drop me a line on Twitter:
        <a href="https://twitter.com/patrexsimpson">@patrexsimpson</a>
    </p>
    <a href="/">latest</a>
</div>
