<div>
    <h3>About</h3>       
    <div class="container">
      <div class="item-image">
        <img class="avatar" src="/static/img/avatar.png" alt="me" title="Patrick Simpson" />
      </div>
      <div class="item-text">
        <p>I’ve been developing software for over 15 years. I have experience with many different technologies, frameworks, and software languages.</p>
        <p>I am interested in how humans interact and experience software, I work to make that better. </p>
        <p>Production is what really matters. Ship early, ship often.</p>
      </div>
    </div>

    <div class="container">
      <div class="item-text">
        <p> You can find this <a href="https://github.com/patricksimpson/blog">blog source code here</a>.</p>
        <p> You can read all my <a href="https://github.com/patricksimpson/posts"> posts on github</a>.</p>
      </div>
    </div>

    <div class="container">

      <div class="item-image">
          <img src="/static/img/emacs-logo.png" alt="emcas" class="item-logo">
      </div>
      <div class="item-text">
          <p>I use <a href="https://www.gnu.org/software/emacs/">emacs</a> and <a href="https://magit.vc/">magit</a>, check out my <a href="https://github.com/patricksimpson/dotfiles">dotfiles</a>.</p>
          <p>I used vim for almost 8 years before making the switch; I appreciate good editors!</p>
      </div>
    </div>

    <div class="container">
        <div class="item-image">
            <img src="/static/img/js-logo.png" alt="javascript" class="item-logo">
        </div>
        <div class="item-text">
            <p><a href="https://www.javascript.com/">JavaScript</a> is my bread and butter! I've been writing JavaScript for almost 15 years!</p>
        </div>
    </div>

    <div class="container">
        <div class="item-image">
            <img src="/static/img/ruby-logo.png" alt="ruby" class="item-logo">
        </div>
        <div class="item-text">
            <p>I've been writing <a href="https://www.ruby-lang.org/en/">Ruby</a> for the past few years and loving it!</p>
      </div>
    </div>
    <a href="/">latest</a>
</div>
