<h1>Micro Blog<span id="meta" style="display:none;"></span></h1>
<div class="mini-blog">
    <div class="loading" style="display:block">Loading...</div>
    <div class="noresults" style="display:none;">Something went wrong loading content from mastodon.</div>
    <ul id="mini-blog-content" class="mini-blog-container">
    </ul>
</div>
<p>Read more posts on mastodon by <a href="https://social.basementcomputer.site/@patrick">@patrick@social.basementcomputer.site</a>.</p>
<a href="/">recent posts</a>
<script async src="/static/js/mini.js"></script>
