<h3>Posts</h3>
<ul class="archive">
<% data.posts.forEach((post) => { %>
   <li class="post-item post-item-front">
    <a href="/posts/<%= post.slug %>" class="post-link">
      <span class="post-title"><%= post.title %></span>
      <span class="post-date"><%= post.postDate %></span>
    </a>
  </li>
<% }) %>
</ul>

<a href="/">recent posts</a>
