<%- include('parts/search'); %>
<h1>Search Results <span id="meta" style="display:none;"></span></h1>
<div class="search-body">
    <div class="loading" style="display:block">Loading...</div>
    <div class="noresults" style="display:none;">No results </div>
</div>
<a href="/">Back to latest</a>
