
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
	color: black;
	background: none;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #a67f59;
	background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.function {
	color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
	color: #e90;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.15em;
}

h1 {
  margin: 0.4rem 0;
  background-image: none;
}

h2 {
  margin: 0.4rem 0;
  margin-bottom: 1rem;
  background-image: none;
}

h3 {
  margin: 0.4rem 0;
  margin-bottom: 0.6rem;
  background-image: none;
}

.anchor {
  background-image: none;
}


.header-wrap {
  width: 100%;
  background-color: #333;
  box-shadow: 0px 1px #999;
}

.header {
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  padding: 1rem;
  margin-bottom: 1em;
}

.main, .footer {
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.footer {
  padding: 1rem;
  font-size: 0.9em;
  border-top: 1px solid #eee;
  color: #777;
  display: flex;
}

.logo-link-container {
  text-align: left;
  width: 100%;
}

.site-title {
  color: #f1f1f1;
  font-size: 2em;
  font-family: 'Roboto Slab',sans-serif;
  text-decoration: none;
  background-image: none;
  text-shadow: 2px 2px #222;
}


.logo-link {
  background-image: none;
  display: inline-block;
}

.svg {
 position: relative;
 display: inline-block;
}
.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
}

.nav-link-container {
  width: 100%;
  text-align: right;
  padding: 0.23em 0;
}

.nav-link {
  color: #f1f1f1;
  display: inline-block;
  margin: 0;
  padding: 0 1rem 0 1rem;
  background-image: none;
  border-right: 1px solid #f2f2f2;
  text-shadow: 1px 1px #222;
}

.nav-link:last-child {
  border-right: none;
}

.nav-link:hover {
  color: #950451;
}

.avatar {
  border-radius: 50%;
  max-width: 150px;
  float: right;
  box-shadow: 1px 1px #ccc;
}

.post-item {
 margin-bottom: 0.5em;
}

.post-item-front {
  margin-bottom: 2.75rem;
}

.post-link {
  margin: 0;
  color: inherit;
  text-decoration: none;
  background-image: none;
}

.post-title {
  display: inline-block;
  color: #222;
  margin-right: 0.75em;
}

.post-link-old {
  padding: 0.25em 0;
}

.post-link-old:hover {
  background-color: #efefef;
}

.post-page-date {
  display: inline-block;
  color: #999;
  font-size: 0.85rem;
  margin-bottom: 1.2em;
}

.archive li {
  margin-bottom: 0.5em;
}

a {
  color: #2e4e71;
}
a:hover {
  color: #547498;
}

.archive li a .post-title {
  color: #2e4e71;
}

.archive li a:hover .post-title {
  color: #547498;
}

.tag-title {
  margin-bottom: 0.75em;
}

.post-meta {
  margin-bottom: 1em;
}

.post-tags {
  display: inline-block;
  font-size: 0.7em;
}

.post-page-title {
  margin-bottom: 0.6em;
}

.post-date{
  display: inline-block;
  color: #999;
  font-size: 0.85rem;
}

.search-body {
  margin: 1em 0;
}

.meta-footer {
  padding: 0;
  margin-left: auto;
}

.meta-footer li {
  display: inline-block;
}

.meta-footer li::after {
  content: " | ";
}

.meta-footer li:last-child::after {
  content: "";
}
