/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
html {
  overflow-y: scroll;
}

element {
  --main-bg: #fff;
  --main-tx: #333;
  --page-max: 720px;
}

code, pre {
	color: #ccc;
	background: #1e1e1e;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

.hljs-comment {
color: #5f5a60;
}

.hljs-name, .hljs-variable {
  color:#cc6a51;
}

.hljs-class, .hljs-function {
  color: #7687a4;
}

 .hljs-keyword, .hljs-attr {
 color: #9a859c;
}

.hljs-string {
color: #8f9d6e;
}

.post-body pre::-moz-selection, .post-body pre ::-moz-selection,
.post-body code::-moz-selection, .post-body code ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

.post-body pre::selection, .post-body pre::selection,
.post-body code::selection, .post-body code::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	.post-body code,
	.post-body pre {
		text-shadow: none;
	}
}

/* Code blocks */
.post-body pre {
	padding: 1em;
	margin: 1em 0;
	overflow: auto;
}

:not(pre) > code,
pre {
	/* background: #f5f2f0; */
}

/* Inline code */
:not(pre) > code {
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: .2em .4em;
	white-space: normal;
  /* color: #b82519; */
  color:#cc6a51;
  text-shadow: none;

}
.hljs-subst {
  color:#cc6a51;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #a67f59;
	background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.function {
	color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
	color: #e90;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.15em;
}

h1 {
  margin: 0.4rem 0;
  background-image: none;
}

h2 {
  margin: 0.4rem 0;
  background-image: none;
}

h3 {
  margin: 0.4rem 0;
  margin-bottom: 0.6rem;
  background-image: none;
}

.anchor {
  background-image: none;
}


.header-wrap {
  width: 100%;
}

.header {
  max-width: 720px;
  margin: 0 auto;
  display: flex;
}

.main, .footer {
  max-width: 720px;
  margin: 0 auto;
  padding: 0.5rem;
}

.footer {
  padding: 1rem;
  font-size: 0.9em;
  border-top: 1px solid #eee;
  color: #777;
}

.logo-link-container {
  text-align: left;
  min-width: 8em;
}

.site-title {
  color: #333;
  font-size: 2em;
  font-family: 'Roboto Slab',sans-serif;
  text-decoration: none;
  background-image: none;
  position: relative;
}

.logo-link {
  background-image: none;
  display: inline-block;
}

.site-title .me {
  overflow: hidden;
  position: absolute;
  left: -27px;
  top: -31px;
}

.svg {
 position: relative;
 display: inline-block;
}

.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
}

.nav-link-container {
  width: 100%;
  text-align: right;
  padding: 0.25em 0;
}

.nav-link {
  color: #333;
  display: inline-block;
  margin: 0;
  padding: 0 0.5rem;
  background-image: none;
}

.nav-link:hover {
  color: #950451;
}

.avatar {
  border-radius: 50%;
  max-width: 150px;
  float: right;
  box-shadow: 1px 1px #ccc;
}

.post-body {
  color: #222;
  line-height: 1.58;
  letter-spacing: -.004em;
  font-weight: 400;
}

.post-item {
 margin-bottom: 0.5em;
 list-style: none;
 padding: 0;
}

.post-item-front {
  margin: 0;
  margin-bottom: 1.5em;
}

.post-link {
  margin: 0;
  color: inherit;
  text-decoration: none;
  background-image: none;
}

.post-title {
  display: inline-block;
  color: #222;
  margin-right: 0.75em;
}

.post-link-old {
  padding: 0.25em 0;
}

.post-link-old:hover {
  background-color: #efefef;
}

.post-page-date {
  display: inline-block;
  color: #999;
  font-size: 0.85rem;
  margin-bottom: 1.2em;
}

.archive {
  margin: 0;
  padding: 0;
}

.archive li {
  margin-bottom: 0.5em;
  padding: 0;
}

a {
  color: #2e4e71;
}
a:hover {
  color: #547498;
}

.archive li a.post-link {
  display: block;
  width: 100%;
  padding: 2px 0;
  border-bottom: 1px solid #fff;
}

.archive li a.post-link:hover {
  border-bottom: 1px solid #ccc;
}

.archive li a .post-title {
  color: #2e4e71;
}

.archive li a:hover .post-title {
  color: #547498;
}

.tag-title {
  margin-bottom: 0.75em;
}

.post-meta {
  margin-bottom: 1em;
}

.post-tags {
  display: inline-block;
  font-size: 0.7em;
}

.post-page-title {
  margin-bottom: 0.6em;
}

.post-date{
  color: #999;
  font-size: 0.85rem;
  display: block;
  margin: 7px 0;
}

.search-body {
  margin: 1em 0;
}

.meta-footer {
  padding: 0;
  margin: 0;
  text-align: right;
  margin-left: auto;
}

.meta-footer li {
  display: inline-block;
}

.meta-footer li::after {
  content: " | ";
}

.meta-footer li:last-child::after {
  content: "";
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

img {
  max-width: 100%;
  display:block;
  height: auto;
}


@media screen and (min-width: 460px) {
  .footer {
    display: flex;
  }

  .header {
    font-size: 1em;
  }

  .main {
    padding: 1rem;
  }

  .archive .post-date {
    float: right;
  }

}
