<div class="footer">
  <div class="meta-date"><%= new Date().getFullYear(); %> &copy; Patrick Simpson</div>
  <ul class="meta-footer">
      <li><a href="https://github.com/patricksimpson">github</a></li>
      <li><a href="https://patricksimpson.me/rss.xml">rss</a></li>
      <li><a href="https://twitter.com/patrexsimpson">twitter</a></li>
      <li><a href="https://www.linkedin.com/in/simpsonpatrick/">linked in</a></li>
  </ul>
</div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="/static/js/ga.gz.js"></script>
<script async src="/static/js/search.js"></script>
<script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-18023092-12');</script>
