<div class="footer"><%= new Date().getFullYear(); %> &copy; Patrick Simpson</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="/static/js/ga.gz.js"></script>
<script async src="/static/js/search.js"></script>
<script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-18023092-12');</script>
