<div class="header-wrap">
  <div class="header">
    <div class="logo-link-container">
      <a href="/" class="site-title">
        <span>PS</span>
        <svg class="me" height="100" width="100">
          <circle cx="50" cy="50" r="36" stroke="black" stroke-width="3" fill="transparent" />
      </svg>
      </a>
    </div>
    <div class="nav-link-container">
      <a class="nav-link" href="/">latest</a>
      <a class="nav-link" href="/posts">older</a>
      <a class="nav-link" href="/search/?q=">search</a>
      <a class="nav-link" href="/about">about</a>
    </div>
  </div>
</div>
