<div class="header-wrap">
  <div class="header">
    <div class="logo-link-container">
      <a href="/" class="site-title">M-x PS</a>
    </div>
    <div class="nav-link-container">
      <a class="nav-link" href="/">Posts</a>
      <a class="nav-link" href="/about">About</a >
    </div>
  </div>
</div>
