<div class="logo-link-container">
    <a href="/" class="site-title hattip">
      <img src="/static/img/PS.svg" type="image/svg+xml"/>
    </a>
</div>

<div class="intro">
<h1>Patrick Simpson</h1>
<div class="intro-sub">I write software, live in the wilderness, married with 5 children.</div>
</div>
<div class="header-wrap">
  <div class="header">
    <div class="nav-link-container">
      <a class="nav-link" href="/">recent posts</a>
      <a class="nav-link" href="/micro">micro</a>
      <a class="nav-link" href="/posts">older</a>
      <a class="nav-link" href="/search/?q=">search</a>
      <a class="nav-link" href="/about">about</a>
    </div>
  </div>
</div>
<script>
 let fun = ['hattip', 'explode', 'wiggle', 'bounce'];
 let logo = document.querySelectorAll('.site-title')[0];
 let pick = fun[Math.floor(Math.random() * 4)];
 logo.classList.remove('hattip');
 logo.classList.add(pick);
</script>
