<div class="logo-link-container">
    <a href="/" class="site-title">
      <img src="/static/img/PS.svg" type="image/svg+xml"/>
    </a>
</div>

<div class="intro">
<h1>Patrick Simpson</h1>
<div class="intro-sub">I write software, live in the wilderness, married with 5 children.</div>
</div>
<div class="header-wrap">
  <div class="header">
    <div class="nav-link-container">
      <a class="nav-link" href="/">latest</a>
      <a class="nav-link" href="/posts">older</a>
      <a class="nav-link" href="/search/?q=">search</a>
      <a class="nav-link" href="/about">about</a>
    </div>
  </div>
</div>
