<form class="search" style="display:none;" method="get" action="/search/">
  <input type="text" name="q" id="search-value" placeholder="search posts">
  <input type="submit" class="search-button" value="Submit" >
</form>
